header {
    background: linear-gradient(120deg,#fff 0%, #fff 35%, var(--salbeiGreen) 35%, var(--salbeiGreen) 100%) fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template: auto / 1fr 1fr;
    align-items: center;
    padding: 0.5rem;
    box-shadow: var(--boxShadow);
    z-index: 999;
}

header .page-logo img {
    width: 200px;
}

header .nav-trigger {
    justify-self: end;
    cursor: pointer;
    font-size: 3rem;
    color: #fff;
}

header nav {
    grid-column: span 2;
    display: flex;
    max-height: 0;
    overflow: hidden;
    flex-flow: column;
    pointer-events: none;
    transition: 300ms ease-in;
    opacity: 0;
    padding: 0 1rem;
}

header nav.active {
    max-height: 150px;
    overflow: initial;
    pointer-events: initial;
    opacity: 1;
}

header nav a {
    color: var(--anthrazitGrey);
    text-decoration: none;
    position: relative;
    padding: 0.25rem 0;
    text-align: center;
    transition: 200ms ease-in;
    font-size: 1.25rem;
    text-align: right;
}

header nav a:hover {
    color: #fff
}

@media screen and (min-width: 1024px){
    header {
        background: linear-gradient(120deg,#fff 0%, #fff 40%, var(--salbeiGreen) 40%, var(--salbeiGreen) 100%) fixed;
        left: 1rem;
        right: 1rem;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        max-width: 750px;
        padding: 1rem;
    }
}