#hero {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#hero h1 {
    color: var(--anthrazitGrey);
    padding: 1rem;
    font-size: 5rem;
}

#hero.hero-home {
    background: url("images/dog-massage.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center;
}

#hero .content {
    text-align: center;
}

#hero p {
    font-size: 2rem;
    margin: 0 0 3rem 0;
}

#hero .button {
    padding: 1rem 2rem;
    display: inline-block;
    width: 50%;
}
